.App {
  text-align: center;
  font-family:Helvetica, sans-serif;
}

body {
 width: 100%;
  height: 100vh;
  margin: 0px;
}

.backgroundimg{
  background-image:url(./pictures/portada-img.jpg) ;
  background-size: cover;
  background-color: beige;
  text-align: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

alert {
  color: red;
}
.editborrar{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: auto
}

.img {
  max-width: 100%;
  height: auto;
  min-width: 50%;
  width: auto\5; /* ie8 */
}



.custom-file-upload {
  border: 1.3px solid rgb(181, 156, 117);
  background-color: rgb(44, 154, 154);
  color: white;
  border-radius: 20px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.iconetee:hover{
  color:rgb(40, 191, 40)
}

.iconeted:hover{
  color: red;
}

::-webkit-scrollbar {
  width: 10px;
  height: 0px;

}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 100px;
}

input[type="file"] {
  display: none;
}

.star-rating button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}



.on {
  color: rgb(33, 114, 226);
}
.off {
  color: #ccc;
}

.comment{
  display: flex;
  flex-direction: row;
}

.custom-popup {
  border-radius: 2px;
  color: #504e4e;
  font-family: 'Molengo', sans-serif;
  font-size: 12px;
  text-align: center;
  line-height: 5px;
  max-height: 300px;
  }

.custom-popup, .leaflet-popup-tip {
  background: #e7e7e7;
  border: none;
  box-shadow: none;
  }

.leaflet-popup-content-wrapper {
 background: #e7e7e7;
 border-radius: 1px;
 text-align: center;
 }

.leaflet-popup {
  position: absolute;
  text-align: center;
  }

.leaflet-popup-content {
  margin-top: 20px;
  margin-left: 3px;
  min-width: 150px !important;
  max-height: 300px;
  overflow: auto;
  }

.flexBotons{
  display: flex;
  justify-content: space-evenly;
  
}

.flexBotons button:hover{
  background-color: rgba(8, 192, 233, 0.845);
}

.flexBotons button{
  padding: 6px 9.6% 6px 9.6%;
  font-weight:400;
}

.titol{
  margin: 0px 0 20px 0;
  padding-top: 215px;
}

.primaryNav{
  display:-webkit-flex;
    display:flex;
    list-style-type:none;
    padding:0;
    justify-content:flex-end;
}

.left{
 
    margin-right:auto;
}

@media(min-width:1030px){
.about{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}}
@media(max-width:1029px){
  .about{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
  
  }
}


.aboutContent{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;

}

.parag{
  margin-bottom: 87px;
}

.leaflet-container{
  height: 70%;
  width: 100%;
  position: absolute;
}


.footergran{
  display: flex;
  flex-direction: row;
  justify-content:start;
  align-items: center;
}
@media(max-width:545px){
  .textsubrallat{
    font-weight: 500;
  font-size: 1.5em;
  padding: 5px;
  color: white;
  }
}



  @media(max-width:350px){
    .textsubrallat{
      font-weight: 500;
    font-size: 1.1em;
    padding: 5px;
    color: white;
    }
  }
  

  @media(min-width:545px){
.textsubrallat{
  font-weight: 500;
  font-size: 2em;
  padding: 5px;
  color: white;
}

  }






