.App {
  text-align: center;
  font-family:Helvetica, sans-serif;
}

.backgroundimg{
  background-image:url(./pictures/portada-img.jpg) ;
  background-size: cover;
  background-color: beige;
  text-align: center;
}

.star-rating button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: rgb(255, 236, 26);
}
.off {
  color: #ccc;
}


.flexBotons{
  display: flex;
  justify-content: space-evenly;
  
}

.flexBotons button:hover{
  background-color: rgba(8, 192, 233, 0.845);
}
.flexBotons button{
  padding: 6px 10.4% 6px 10.3%;
  font-weight:400;
}

.titol{
  margin: 0px 0 20px 0;
  padding-top: 215px;
}

.primaryNav{
  display:-webkit-flex;
    display:flex;
    list-style-type:none;
    padding:0;
    justify-content:flex-end;
}

.left{
 
    margin-right:auto;
}

.about{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.aboutContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.parag{
  margin-bottom: 87px;
}

.leaflet-container{
  height: 600px;
  width: 100%;
  position: absolute;
}


.footergran{
  display: flex;
  flex-direction: row;
  justify-content:start;
  align-items: center;
}

.textsubrallat{
  font-weight: 500;
  font-size: 2em;
  padding: 5px;
  color: white;
}







